*, ::before, ::after{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

@font-face {
  font-family: Unna;
  src: url(./src/fonts/Unna/Unna-Regular.ttf);
}

@font-face {
  font-family: Encode;
  src: url(./src/fonts/Encode_Sans_Semi_Expanded/EncodeSansSemiExpanded-Regular.ttf);
}

/* ? Couleurs */

:root {
    --grey: #989898;
    --red: #AB3428;
}

body {
  width: 100%;
  height: 100vh;
  font-family: Unna, sans-serif;
  background-color: white;
}


@media screen and (min-width: 360px) and (max-width: 990px) {

body{
  width: 100%;
  height: 100vh;
}

  .logo_img {
    width: 24px;
    height: 24px;
  }

  .home_img{
    width: 100%;
    height: 30vh;
  }

header{
  width: 100%;
  height: 8vh;
  background-color: black;
}

  header ul li {
    width: 20px;
    list-style: none;
  }
  
  header ul li a {
    width: 20px;
    text-decoration: none;
    color: white;
  }
  

  .burger-container{
    position: absolute;
    top: 3vh;
    left: 85%;
    width: 10%;
    height: 8vh; 
    cursor: pointer;
  }

.burger-line{
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 4px auto;
  }
  
  .burger {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  
  .burger:hover {
    background-color: lightgrey;
  }
  
  .burger:hover .burger-line {
    background-color: red;
  }

.home {
  position: relative;
}

/* Image en fond */
.home_img {
  width: 100%;
  height: 30vh;
  position: relative;
  z-index: 1; /* tout en dessous */
}

/* Bloc gris de fond pour le titre */
.background {
  background-color: grey;
  position: absolute;
  top: 50px;
  left: 20px;
  width: 90%;
  height: 15vh;
  opacity: 0.7;
  z-index: 2; /* devant l’image */
}

/* Titre au-dessus de tout */
#title-home {
  width: 350px;
  position: absolute;
  top: 80px; /* pour qu’il apparaisse sur le fond gris */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-family: Unna, sans-serif;
  font-size: 1.5rem;
  color: black;
  z-index: 3; /* au-dessus du fond gris */
}


/* Section en dessous de l'image */

.text{
  margin-top: 4%;
  margin-bottom: 4%;
  padding: 8%;
}

/* Section display images */

.home_section{
  width: 100%;
  height: 70vh;
  justify-content: center;
  padding: 3%;
  border: 2px solid hotpink;
}

.home_section_content{
  width: 100%;
  height: 50vh;
  background-color: #AB3428;
  border: 2px solid lawngreen;
}


.home_section_images{
  padding: 5%;
  border: 2px solid blue;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.card_img{
  width: 30px;
  height: 30px;
  border-radius: 10px;
}


.button_produit{
  width: 140px;
  height: 40px;
  background-color: #AB3428;
  color: black;
}


.home-contact{
  width: 100%;
  height: 30vh;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-family: Unna, sans-serif;
    font-size: 1.5rem;
    margin-right: 20px;
  }
}

.tel{
  font-size: bolder;
  color: #AB3428;
  font-family: Unna, sans-serif;
  font-size: 1.5rem;
}



/* ! FOOTER  = BAS DE PAGE */

footer{
  top: 100%;
  width: 100%;
  height: 20vh;
  background-color: black;
}

footer ul {
    display: flex;
    flex-direction: column;
    margin-left: 1%;
    justify-content: center;
    /* align-items: center; */
    padding: 0;
  }
  
  footer li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
  }

  footer li a {
    text-decoration: none;
    color: white;
  }


/* 
  DIV qui contient les DIV LIENFOOTER et DIV COPYRIGHT
  Elle est appelée mirror car elle place les deux DIV face à face
*/
#mirror{
  display: flex;
  justify-content: center;
  align-items: left;
  margin-left: 5%;
  margin-top: 2%;
}

/* DIV placer à gauche */
.liens_footer{
  float: left;
  width: 50%;
  border: 2px solid violet;
}

/* DIV placer à droite */
.copyright{
  width: 50%;
  float: right;
  margin-right: 5%;
  margin-top: 2%;
  border: 2px solid orange;
}

.face-to-face{
  display: flex;
  align-items: center;
}

/* Icons Footer */
#phone, #facebook{
  width: 30px;
  height: 30px;
}

#email{
  width: 20px;
  height: 20px;
}

/* Paragraphes du footer */
footer  p{
  color: white;
  font-family: Encode, sans-serif;
  font-size: 0.8rem;
}


}